<div
  class="rapidsale-timer"
  data-shop="{{ shop.permanent_domain }}"
>
  <div class="rapidsale-loading">Loading countdown…</div>
</div>

{% schema %}
{
  "name": "RapidSale Countdown Timer",
  "target": "section",
  "javascript": "timer.js",
  "settings": []
}
{% endschema %}
