<div class="rapidsale-timer">
  <div class="rapidsale-loading">Loading countdown…</div>
</div>

<script src="{{ 'timer.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "RapidSale Product Page",
  "target": "body",
  "settings": []
}
{% endschema %}
